certifi==2022.9.24
charset-normalizer==2.1.1
idna==3.4
praw==7.6.0
prawcore==2.3.0
pyTelegramBotAPI==4.7.0
update-checker==0.18.0
urllib3==1.26.12
websocket-client==1.4.1
httpx==0.26.0
beautifulsoup4==4.12.3
lxml
python-decouple==3.8